/* DO NOT REMOVE THIS LINE */
@import url("./style.core.css");

:root {
    /* The main color of the page */
    --main-color: #282b30;
    /* The darker version of the main color */
    --main-darker-color: #202226;
    /* the size of the page */
    --size: 100%;
    /* How much to round the corners of boxes */
    --rounding: 20px;
}

main {
    border-radius: 0;
}

/* Customize the general appearance of a message */
.message {
    margin: 10px;
}

/* Customize the appearance of the message's author */
.message-author {
    /* Text color of the message's author */
    color: #3588c3;
}

/* Customize the appearance of the separator between the message's author and the message's content */
.message-seperator::after {
    /* The separator itself (the dash) */
    content: ': ';
    /* The color of the separator */
    color: #eaeaea;
}

/* Customize the appearance of the message's content */
.message-content {
    /* Text color of the message's content */
    color: #eaeaea;
}

/* Customize the appearance of the each user in the users list */
.user {
    color: #3588c3;
}

/* Customize the appearance of the current user in the users list */
.user-self {
    color: #c90dc9;
}

/* Customize the appearance of the logout button */
#logout-button {
    /* The color of the logout button */
    background-color: #3588c3;
    /* The color of the text in the logout button */
    color: #000;
}

/* Customize the appearance of the login form */
#username-input {
    /* The color of the login form's username input field */
    background-color: #3588c3;
    /* The color of the text in the login form's username input field */
    color: v#000;
}

/* Customize the appearance of the login form */
#password-input {
    /* The color of the login form's password input field */
    background-color: #3588c3;
    /* The color of the text in the login form's password input field */
    color: #000;
}

/* Customize the appearance of the login button */
#login-button {
    /* The color of the login button */
    background-color: #3588c3;
}

/* Customize the appearance of the the box where you type your message */
#message-input {
    /* The color of the box where you type your message */
    background-color: #3588c3;
    /* The color of the text in the box where you type your message */
    color: #000;
}

/* Customize the appearance of the send button */
#send-button {
    /* The color of the send button */
    background-color: #3588c3;
}

/* Customize the appearance of the placeholder text in the login form's username input field */
::placeholder {
    color: #000;
}

/* Customize the appearance of the placeholder text in the login form's username input field in Macrohard Edge ;)*/
::-ms-input-placeholder {
    color: #000;
}

/* Customize the global appearance of the page */
body {
    /* Background color of the page */
    background-color: #000;
    /* Text color of the page */
    color: #eaeaea;
}
